<div fxLayout="row" fxFlex="10" class="invoice-number">      
  <md-input-container fxFlexAlign="center">
    <input mdInput placeholder="Invoice number" value="" type="text">
  </md-input-container>
</div>

<md-divider></md-divider>

<div fxFlex class="itemList">

  <h2>Items list</h2>

  <div fxFlex>
    <button md-button (click)="addItem()">
      <md-icon>add_circle</md-icon>
      <span>Add new item</span>
    </button>
  </div>

  <md-list>
    <md-list-item *ngFor="let item of itemList; let i = index">
      <md-input-container>
        <input mdInput disabled value="{{i+1}}" type="number">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Name" value="{{item.name}}" type="text">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Price" value="{{item.price}}" type="number">
      </md-input-container>
      <button md-icon-button (click)="removeItem(item)">
        <md-icon>delete</md-icon>
      </button>
    </md-list-item>
  </md-list>

</div>