<h1 md-dialog-title>
  About {{appConfig.title}}
</h1>
<md-dialog-content>
  <p>Application was created only for demo purposes.<br>It presents communication between Angular2 and Laravel framework.</p>
  <md-divider></md-divider>
  <p class="about">
    {{appConfig.author}}
    <br>
    <a href="{{appConfig.url}}" target="_blank">{{appConfig.www}}</a>
    <br>
    &copy; {{currentYear}}
  </p>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>
    <span>Close</span>
    <md-icon>clear</md-icon>
  </button>
</md-dialog-actions>