<h1 md-dialog-title>
  About {{title}}
</h1>
<md-dialog-content>
  <p>Application was created only for demo.<br>It presents communication between Angular2 and Laravel frameworks.</p>
  <md-divider></md-divider>
  <p class="about">
    Arkadiusz Krakiewicz
    <br>
    <a href="http://www.oscdeveloper.pl" target="_blank">oscDeveloper.pl</a>
    <br>
    &copy; {{year}}
  </p>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>
    <span>Close</span>
    <md-icon>clear</md-icon>
  </button>
</md-dialog-actions>