<div fxFlex fxLayout="column" fxFlexAlign="start center" class="itemList">

  <div fxLayout="column" fxFlexAlign="center" class="subItemList">

    <md-list fxLayout="column">

      <h2 md-subheader>Items list</h2>

      <div fxFlex>
        <button md-button (click)="addItem()">
          <md-icon>add_circle</md-icon>
          <span>Add new item</span>
        </button>
      </div>

      <div fxLayout="column" fxFlexAlign="center" fxFill class="subMdItemList">

        <md-list-item *ngFor="let item of itemList; let i = index" fxLayout="row">
          <md-input-container fxFlex="30px">
            <input mdInput disabled value="{{i+1}}" type="number">
          </md-input-container>
          <md-input-container fxFlex fxFlexOffset="10px">
            <input mdInput placeholder="Name" [(ngModel)]="item.name" type="text">
          </md-input-container>
          <md-input-container fxFlex="100px" fxFlexOffset="10px">
            <input mdInput placeholder="Price" priceFormat [ngModel]="item.price" (ngModelChange)="item.price=$event" type="text" maxlength="13">
          </md-input-container>
          <button md-icon-button (click)="removeItem(item)" fxFlex="30px" fxFlexOffset="10px">
            <md-icon>delete</md-icon>
          </button>
        </md-list-item>

      </div>

    </md-list>

  </div>

</div>