<div fxFlex fxLayout="column" fxFlexAlign="start center" class="seller">

  <div fxLayout="column" fxFlexAlign="start">

    <md-list fxLayout="column">

      <h2 md-subheader>Invoice issuer</h2>

      <div fxFlex>
        <md-input-container fxFlex fxFlexOffset="10px">
          <input mdInput placeholder="Company name" value="" type="text">
        </md-input-container>
      </div>

      <div fxFlex>
        <md-input-container fxFlex fxFlexOffset="10px">
          <input mdInput placeholder="Address" value="" type="text">
        </md-input-container>
      </div>

      <div fxFlex>
        <md-input-container fxFlex fxFlexOffset="10px">
          <input mdInput placeholder="VAT number" value="" type="text">
        </md-input-container>
      </div>       

      <div fxFlex>
        <md-input-container fxFlex fxFlexOffset="10px">
          <input mdInput placeholder="Bank name" value="" type="text">
        </md-input-container>
      </div>   

      <div fxFlex>
        <md-input-container fxFlex fxFlexOffset="10px">
          <input mdInput placeholder="Bank account number" value="" type="text">
        </md-input-container>
      </div>           

      <div fxLayout="column" fxFlexAlign="center" fxFill class="subMdItemList">



      </div>

    </md-list>

  </div>

</div>